<%- include('partials/header', { title: 'About Me' }) %>


<main>
  <section class="about-section">
    <h1>About Me</h1>
    <div class="profile">
      <img src="/images/portfolio.png" alt="Your Name">
      <h2>Yang Qi</h2>
    </div>
    <p>
      I am a passionate web developer dedicated to creating exceptional web experiences. With a strong foundation in web technologies and a commitment to lifelong learning, I strive to build user-friendly and innovative solutions.
    </p>
    <a href="/pdf/Resume Yang.pdf" download class="btn btn-secondary">Download Resume (PDF)</a>
  </section>
</main>


<%- include('partials/footer') %>
