<%- include('partials/header', { title: 'Home' }) %>

<main class="container">
  <section class="welcome-section">
    <div class="content">
      <h1>Welcome to My Portfolio</h1>
      <p>I'm excited to share my Portfolio with you.</p>
      <a href="/about" class="btn btn-primary">Learn About Me</a>
    </div>
  </section>

  <section class="mission-section">
    <div class="content">
      <h2>My Mission</h2>
      <p>I'm on a mission to create my Portfolio.</p>
      <p><img src="/images/creatingportfolio.png" alt="My Logo" id="logo"></p>
    </div>
  </section>
</main>

<%- include('partials/footer') %>

