<%- include('partials/header', { title: 'Services' }) %>

<main>
  <section class="services-section">
    <h1>Hi, I am offering services:</h1>

    <!-- Service 1 -->
    <div class="service">
      <h2><img src="/images/service1.png" alt="Service 1"></h2>
      <h2>Web Development</h2>
      <p>
        I specialize in creating responsive and user-friendly websites tailored to your business needs. With a background in Software Engineering and experience at the Ministry of Natural Resources and Forestry, I have the technical skills and expertise to develop innovative web solutions. Our proficiency in a wide range of computer software, including Power BI, Congos, Excel, and more, ensures top-notch results.
      </p>
    </div>

    <!-- Service 2 -->
    <div class="service">
      <h2><img src="/images/service2.png" alt="Service 2"></h2>
      <h2>Mobile App Development</h2>
      <p>
        Drawing from my experience as a Web Developer at UTPA High School, where I honed my skills in crafting user-centric digital experiences, I possess the expertise to construct feature-rich mobile applications that seamlessly cater to both iOS and Android platforms. My deep-rooted understanding of user engagement, cultivated through years of crafting engaging web interfaces, serves as the foundation upon which I build exceptional mobile apps that captivate users, foster loyalty, and deliver unparalleled value. Whether it's designing intuitive user interfaces, optimizing performance, or integrating cutting-edge functionalities, I am well-equipped to deliver mobile applications that not only meet but exceed the ever-evolving expectations of today's tech-savvy audience.
      </p>
    </div>

    <!-- Service 3 -->
    <div class="service">
      <h2><img src="/images/service3.png" alt="Service 3"></h2>
      <h2>Data Analysis and Power BI Dashboards</h2>
      <p>
        I offer expertise in data analysis and Power BI dashboard development. With experience at the Ministry of Natural Resources and Forestry, I have a strong background in preparing reports and presentations using Power BI, Excel, and other data analysis tools. We can help you derive valuable insights from your data and create interactive dashboards to drive data-informed decisions.
      </p>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
